<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-article-heading" jhiTranslate="sentwayApp.articleArticle.home.createOrEditLabel">Create or edit a Article</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sentwayApp.articleArticle.title" for="field_title">Title</label>
                    <input type="text" class="form-control" name="title" id="field_title"
                           formControlName="title"/>
                    <div *ngIf="editForm.get('title').invalid && (editForm.get('title').dirty || editForm.get('title').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('title').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('title').errors.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 1 }">
                        This field is required to be at least 1 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('title').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 42 }">
                        This field cannot be longer than 42 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sentwayApp.articleArticle.type" for="field_type">Type</label>
                    <select class="form-control" name="type" formControlName="type" id="field_type">
                        <option value="PLAIN">{{'sentwayApp.Markup.PLAIN' | translate}}</option>
                        <option value="HTML">{{'sentwayApp.Markup.HTML' | translate}}</option>
                        <option value="MARKDOWN">{{'sentwayApp.Markup.MARKDOWN' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sentwayApp.articleArticle.category" for="field_category">Category</label>
                    <input type="text" class="form-control" name="category" id="field_category"
                           formControlName="category"/>
                    <div *ngIf="editForm.get('category').invalid && (editForm.get('category').dirty || editForm.get('category').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('category').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sentwayApp.articleArticle.authorId" for="field_authorId">Author Id</label>
                    <input type="text" class="form-control" name="authorId" id="field_authorId"
                           formControlName="authorId"/>
                    <div *ngIf="editForm.get('authorId').invalid && (editForm.get('authorId').dirty || editForm.get('authorId').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('authorId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sentwayApp.articleArticle.authorName" for="field_authorName">Author Name</label>
                    <input type="text" class="form-control" name="authorName" id="field_authorName"
                           formControlName="authorName"/>
                    <div *ngIf="editForm.get('authorName').invalid && (editForm.get('authorName').dirty || editForm.get('authorName').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('authorName').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sentwayApp.articleArticle.created" for="field_created">Created</label>
                    <div class="d-flex">
                        <input id="field_created" type="datetime-local" class="form-control" name="created" formControlName="created" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sentwayApp.articleArticle.modified" for="field_modified">Modified</label>
                    <div class="d-flex">
                        <input id="field_modified" type="datetime-local" class="form-control" name="modified" formControlName="modified" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sentwayApp.articleArticle.published" for="field_published">Published</label>
                    <div class="d-flex">
                        <input id="field_published" type="datetime-local" class="form-control" name="published" formControlName="published" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sentwayApp.articleArticle.content" for="field_content">Content</label>
                    <textarea class="form-control" name="content" id="field_content"
                              formControlName="content"></textarea>
                    <div *ngIf="editForm.get('content').invalid && (editForm.get('content').dirty || editForm.get('content').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('content').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sentwayApp.articleArticle.releasedContent" for="field_releasedContent">Released Content</label>
                    <textarea class="form-control" name="releasedContent" id="field_releasedContent"
                              formControlName="releasedContent"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sentwayApp.articleArticle.contentHash" for="field_contentHash">Content Hash</label>
                    <input type="text" class="form-control" name="contentHash" id="field_contentHash"
                           formControlName="contentHash"/>
                    <div *ngIf="editForm.get('contentHash').invalid && (editForm.get('contentHash').dirty || editForm.get('contentHash').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('contentHash').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sentwayApp.articleArticle.releasedContentHash" for="field_releasedContentHash">Released Content Hash</label>
                    <input type="text" class="form-control" name="releasedContentHash" id="field_releasedContentHash"
                           formControlName="releasedContentHash"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
