<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="article">
            <h2><span jhiTranslate="sentwayApp.articleArticle.detail.title">Article</span> {{article.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sentwayApp.articleArticle.title">Title</span></dt>
                <dd>
                    <span>{{article.title}}</span>
                </dd>
                <dt><span jhiTranslate="sentwayApp.articleArticle.type">Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'sentwayApp.Markup.' + article.type}}">{{article.type}}</span>
                </dd>
                <dt><span jhiTranslate="sentwayApp.articleArticle.category">Category</span></dt>
                <dd>
                    <span>{{article.category}}</span>
                </dd>
                <dt><span jhiTranslate="sentwayApp.articleArticle.authorId">Author Id</span></dt>
                <dd>
                    <span>{{article.authorId}}</span>
                </dd>
                <dt><span jhiTranslate="sentwayApp.articleArticle.authorName">Author Name</span></dt>
                <dd>
                    <span>{{article.authorName}}</span>
                </dd>
                <dt><span jhiTranslate="sentwayApp.articleArticle.created">Created</span></dt>
                <dd>
                    <span>{{article.created}}</span>
                </dd>
                <dt><span jhiTranslate="sentwayApp.articleArticle.modified">Modified</span></dt>
                <dd>
                    <span>{{article.modified}}</span>
                </dd>
                <dt><span jhiTranslate="sentwayApp.articleArticle.published">Published</span></dt>
                <dd>
                    <span>{{article.published}}</span>
                </dd>
                <dt><span jhiTranslate="sentwayApp.articleArticle.content">Content</span></dt>
                <dd>
                    <span>{{article.content}}</span>
                </dd>
                <dt><span jhiTranslate="sentwayApp.articleArticle.releasedContent">Released Content</span></dt>
                <dd>
                    <span>{{article.releasedContent}}</span>
                </dd>
                <dt><span jhiTranslate="sentwayApp.articleArticle.contentHash">Content Hash</span></dt>
                <dd>
                    <span>{{article.contentHash}}</span>
                </dd>
                <dt><span jhiTranslate="sentwayApp.articleArticle.releasedContentHash">Released Content Hash</span></dt>
                <dd>
                    <span>{{article.releasedContentHash}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/article', article.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
