<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="block">
            <h2><span jhiTranslate="sentwayApp.followerBlock.detail.title">Block</span> {{block.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sentwayApp.followerBlock.created">Created</span></dt>
                <dd>
                    <span>{{block.created}}</span>
                </dd>
                <dt><span jhiTranslate="sentwayApp.followerBlock.blocker">Blocker</span></dt>
                <dd>
                    <div *ngIf="block.blocker">
                        <a [routerLink]="['/person', block.blocker?.id, 'view']">{{block.blocker?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="sentwayApp.followerBlock.blockee">Blockee</span></dt>
                <dd>
                    <div *ngIf="block.blockee">
                        <a [routerLink]="['/person', block.blockee?.id, 'view']">{{block.blockee?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="sentwayApp.followerBlock.person">Person</span></dt>
                <dd>
                    <div *ngIf="block.person">
                        <a [routerLink]="['/person', block.person?.id, 'view']">{{block.person?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/block', block.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
