<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mute">
            <h2><span jhiTranslate="sentwayApp.followerMute.detail.title">Mute</span> {{mute.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sentwayApp.followerMute.created">Created</span></dt>
                <dd>
                    <span>{{mute.created}}</span>
                </dd>
                <dt><span jhiTranslate="sentwayApp.followerMute.muter">Muter</span></dt>
                <dd>
                    <div *ngIf="mute.muter">
                        <a [routerLink]="['/person', mute.muter?.id, 'view']">{{mute.muter?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="sentwayApp.followerMute.mutee">Mutee</span></dt>
                <dd>
                    <div *ngIf="mute.mutee">
                        <a [routerLink]="['/person', mute.mutee?.id, 'view']">{{mute.mutee?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="sentwayApp.followerMute.person">Person</span></dt>
                <dd>
                    <div *ngIf="mute.person">
                        <a [routerLink]="['/person', mute.person?.id, 'view']">{{mute.person?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/mute', mute.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
