<div>
    <h2 id="page-heading">
        <span jhiTranslate="sentwayApp.followerMute.home.title">Mutes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-mute" [routerLink]="['/mute/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="sentwayApp.followerMute.home.createLabel">
            Create new Mute
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="mutes?.length === 0">
        <span jhiTranslate="sentwayApp.followerMute.home.notFound">No mutes found</span>
    </div>
    <div class="table-responsive" *ngIf="mutes?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="sentwayApp.followerMute.created">Created</span></th>
            <th><span jhiTranslate="sentwayApp.followerMute.muter">Muter</span></th>
            <th><span jhiTranslate="sentwayApp.followerMute.mutee">Mutee</span></th>
            <th><span jhiTranslate="sentwayApp.followerMute.person">Person</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mute of mutes ;trackBy: trackId">
                <td><a [routerLink]="['/mute', mute.id, 'view' ]">{{mute.id}}</a></td>
                <td>{{mute.created | date:'medium'}}</td>
                <td>
                    <div *ngIf="mute.muter">
                        <a [routerLink]="['../person', mute.muter?.id, 'view' ]" >{{mute.muter?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="mute.mutee">
                        <a [routerLink]="['../person', mute.mutee?.id, 'view' ]" >{{mute.mutee?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="mute.person">
                        <a [routerLink]="['../person', mute.person?.id, 'view' ]" >{{mute.person?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/mute', mute.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/mute', mute.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'mute', { outlets: { popup: mute.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
